body {
    background: #bf46f2;
background: linear-gradient(90deg,rgba(191, 70, 242, 1) 0%, rgba(87, 199, 133, 1) 56%, rgba(170, 237, 83, 1) 88%);

}
h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 251, 251);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}