header {
    background-color: lightcyan;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}
h1 {
    color: rgb(35, 205, 72);
    font-family: Arial, sans-serif;
}
h2 {
    color: rgb(105, 43, 5);
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    color: rgb(227, 9, 9);
    font-family: 'Times New Roman', Times, serif;
}

footer {
    background-color: lightcyan;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

footer p {
    color: rgb(0, 0, 0);
    font-family: Verdana, sans-serif;
}