body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
   
   
}
 
#container {
   display:flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
 
}
 
.cuadro {
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 4rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
 
.cuadro:hover {
    background-color: #c01515;
    transform: scale(1.05);
    transition: transform 0.2s;
}